/**
 * Created by John Gerald B. Cayabyab | johngeraldcayabyab@gmail.com
 * Date: 5/14/2018
 * Time: 8:57 PM
 https://dribbble.com/shots/4785698-CRM-advertising-management-system
 https://dribbble.com/shots/3995796-Extended-Search
 https://dribbble.com/shots/3702111-SteemConnect-Dashboard
 https://dribbble.com/shots/3147004-Clearmove-Admin-Employees



 https://codepen.io/YahiaRefaiea/pen/PBPWmx?page=2& /// best loader

#34495e
#2ecc71
#3498db
#9b59b6
#f1c40f
#e67e22
#95a5a6
 */

/**
Important styles
 */

/*body{*/
    /*font-family: Verdana, Geneva, sans-serif !important;*/
    /*font-size: 14px;*/
/*}*/

/*.navbar-dark .navbar-nav .nav-link{*/
    /*color: navajowhite;*/
/*}*/

/*.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{*/
    /*color: whitesmoke;*/
/*}*/

/*.navbar .navbar-nav > .nav-item{*/
    /*font-size: 12px;*/
    /*letter-spacing: 1px;*/
/*}*/

/*.dashboard-top-nav{*/
    /*background-color: #F57C00 !important; !*Dark primary color*!*/
/*}*/

/*.dashboard-top-nav, .dropdown-menu{*/
    /*font-size: 13px !important;*/
/*}*/

/*.form-control{*/
    /*font-size: 14px;*/
/*}*/

/*.list-group-item {*/
    /*font-size: 12px;*/
    /*padding: 0.70rem 1.0rem;*/
    /*color: navajowhite;*/
/*}*/

/*.btn{*/
    /*font-size: 14px;*/
/*}*/

/*.nav-item a{*/
    /*font-size: 12px !important;*/
/*}*/

/*.list-group a{*/
    /*font-size: 12px !important;*/
/*}*/




body, html, #main{
    /*background-color: red;*/
    background-color: #f4f8f7;
    height: 100%;
}

.bootbox .modal-title{
    width: 100% !important;
}

.search-and-add-modal .modal-body{
    padding: 0 !important;
    overflow-y: auto !important;
    height: 295px !important;
}



.company_logo{
    height: 120px;
    width: auto;
}
/**
End of Important styles
 */




/**
Spinner style
 */
.spinner-ripple {
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 64px;
    height: 64px;
}
.spinner-ripple div {
    position: absolute;
    border: 4px solid black;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.spinner-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}
/**
End of spinner style
 */



/*neutron spinner style*/
#nuotron {
    top: 50%;
    left: 50%;
    width: 84px;
    height: 84px;
    margin-top: -42px;
    margin-left: -42px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    visibility: hidden;
}
#nuotron,
#nuotron *,
#nuotron *:before {
    display: block;
    position: absolute;
}
#nuotron .ellipse,
#nuotron .dot {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#nuotron .ellipse {
    border: 18px solid #00d994;
    border-radius: 50%;
}
#nuotron .dot {
    -webkit-animation: dotRotate 4.8s linear infinite;
    animation: dotRotate 4.8s linear infinite;
}
#nuotron .dot:before {
    content: '';
    top: -42px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-radius: 50%;
    background-color: #00d994;
    -webkit-animation: dotEffect 1.2s ease-in-out infinite;
    animation: dotEffect 1.2s ease-in-out infinite;
}
@-webkit-keyframes dotEffect {
    50% {
        top: 102px;
    }
    0%, 50%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    75% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@keyframes dotEffect {
    50% {
        top: 102px;
    }
    0%, 50%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    75% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@-webkit-keyframes dotRotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes dotRotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*end of neutron spinner style*/