/*Important css*/
.kanban-link-con{
    display: block;
    width: 230px;
    height: 100px;
    border: solid 1px lightgrey;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.kanban-link-con:hover{
    text-decoration: none;
}

.products-link:hover{
    text-decoration: none;
}

.kanban-link-content{
    padding-left: 100px;
    padding-top: 17px;
    font-size: 13px;
}

.kanban-link-content strong{
    color: black;
    display: block;
}

.kanban-link-content span{
    color: grey;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.kanban-link-img{
    height: 65px;
    width: 65px;
    float: left;
    margin-top: 17px;
    margin-left: 17px;
}
/*End of important css*/



/*dashboard side nav style*/
.side-nav-links{
    cursor: pointer;
    padding: 10px;
}

.side-nav-links-active{
    background-color: #37415c;
}

.side-nav-links-active:hover{
    background-color: #37415c;
}


.side-nav-links:hover{
    background-color: #19233e;
}

.side-nav-links-href{
    float: left;
    color: whitesmoke;
}

.side-nav-links-href:hover{
    color: whitesmoke;
}

.side-nav-links-icon-status{
    color: lightgrey;
    margin-top: .8rem;
    /*padding-top: .8rem;*/
    float: right;
}

.side-nav-sub-links{
    padding-left: 2.5rem;
}

.side-nav-sub-links-href{
    color: grey;
}

.side-nav-sub-links-href:hover{
    color: whitesmoke;
}

.side-nav-sub-links-active{
    color: whitesmoke;
}

.rotate{
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.rotate.down{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
/*end of dashboard side nav style*/













.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: red; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }



















/*body{*/
    /*padding-top: 51px; !*For the navigation to be dynamic*!*/
/*}*/

/*input[type="text"]*/
/*{*/
    /*font-size: 13px;*/
    /*font-family: Verdana, Geneva, sans-serif;*/
/*}*/

/*input,*/
/*input::-webkit-input-placeholder {*/
    /*font-size: 13px;*/
/*}*/

.company-logo-con{
    display: block;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/*#dashboard-con{*/
    /*background-color: red;*/
    /*height: 100%;*/
    /*display: flex;*/
/*}*/

/*#dashboard-main-section-con{*/
    /*background-color: #F5F5F5;*/
    /*width: 85%;*/
    /*height: 100%;*/
    /*overflow: auto;*/
/*}*/

/*Dashboard side nav styles*/
/*#dashboard-side-nav-con{*/
    /*width: 15%;*/
    /*background-color: #FF9800; !*primary color*!*/
    /*height: 100%;*/
/*}*/

/*#dashboard-side-nav-con .list-group-item{*/
    /*border-radius: 0;*/
    /*background-color: #FF9800; !*primary color*!*/
    /*border-right: none;*/
    /*border-left: none;*/
/*}*/

/*#dashboard-side-nav-con .list-group-item:hover{*/
    /*color: whitesmoke;*/
    /*background-color: #FF9550;*/
/*}*/
/*End of dashboard side nav styles*/



/**
Products style
 */
.products-link{
    display: block;
    width: 250px;
    height: 100px;
    border: solid 1px lightgrey;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.products-link:hover{
    text-decoration: none;
}

.products-content{
    padding-left: 100px;
    padding-top: 17.5px;
    font-size: 13px;
}

.products-link strong{
    color: black;
    display: block;
}

.products-link span{
    color: grey;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.product-image{
    height: 65px;
    width: 65px;
    float: left;
    margin-top: 17px;
    margin-left: 17px;
}
/**
End of products style
 */


/*@media only screen and (max-width: 991px) {*/
    /*body{*/
        /*padding-top: 54px; !*for the navigation to be dynamic*!*/
    /*}*/
/*}*/
/**/
@media only screen and (max-width: 990px) {
    body{
        padding-top: 56px; /*for the navigation to be dynamic*/
    }
}